/*topbar begin*/
body{
    margin: 0;
    
}
nav{
    display: flex;
    width: 100%;
    height: 77px;
    background-color: white;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
#tree-logo{
    width: 40px;
    margin-left: 24px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.menu-item{
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin-right: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.menu-item i{
    padding-right: 4px;
}

#dropdown-menu{
    display: none;
    width: 150px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 20px;
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
#dropdown-menu a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.dropdown:hover #dropdown-menu{
    display:inline-block;
}
#buynow-btn{
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    text-transform: uppercase;
    margin-right: 16px;
    cursor: pointer;
    padding: 9px 34px;
    border-width: 0px;
    border-radius: 4px;
    outline: none;
}

/* section1 begin */
#section1{
    background-color: rgba(255, 255, 255, 0.9);
    background: url("https://drive.google.com/thumbnail?id=1oZ9kImcW6IQR7BNJTTwNlcQPU2RuWtHq&authuser=1&sz=w1348-h657");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
#sec1-text-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section1 h1{
    text-align: center;
    width: 100%;
    max-width: 1100px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
}
#section1 p{
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
    max-width: 1100px;
    font-family: 'Poppins', sans-serif;
    margin: 14px;
}


/* section 2 begins */

#section2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.step-cards{
    width: 25%;
    padding: 112px 48px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.step-cards i{
    font-size: 96px;
}
.step-cards:hover .fa{
    transition: all 0.3s;
    transform: scale(1.1, 1.1);
}
.step-cards:hover .far{
    transition: all 0.3s;
    transform: scale(1.1, 1.1);
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    line-height: 1;
    font-variant: normal;
}
.step-cards h3{
    font-weight: 600;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}


#step1{
background-color: #5acda6;
}

#step2{
background-color: #91ac41;
}
#step3{
background-color: #e4b476;
}
#step4{
background-color: #f69dad;
}

/* section 3 */
#section3{
    width: 100%;
    background-color: #f7eee2;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 74px;
}
.sec3-icons-wrap{
    font-size: 60px;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    width: 70px;
    height:70px;
    margin: 20 auto;
}
.sec3-icons-wrap:hover{
    transition: all 0.3s;
    transform: scale(1.1, 1.1);
}

#sec3-heading{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}
#section3 h3{
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
#sec3-desc{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #998b96;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
    font-family: 'Poppins', sans-serif;
}
#sec3-cards{
    display: flex;
}
#sec3-cards h3{
    font-size:24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
#sec3-cards p{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}
.sec3-card-wrap{
    width: 25%;
    text-align: center;
    padding: 24px;
    font-family: 'Poppins', sans-serif;
}
#section4{
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}
#sec4-heading{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}
#sec4-head{
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}
#sec4-desc{
    max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}
#test-wrappers{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
}
.test-cards{
    width:25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
    display: inline-block;
}
.test-cards img{
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}
.test-cards-desc{
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.test-cards-desc h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}
.test-person{
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}
.test-cards-pos{
    color: #8b8b99;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
}

/* section5 begins */
#section5{
    display: flex;
    justify-content: stretch;
}
#strawberry-pic{
    width: 67%;
    display: inline-block;
    margin: 0;
}
#strawberry-pic img{
    width: 100%;
}
#follow-sec{
    width: 33.33%;
    margin: 0;
    display: inline-block;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
    background-position: left;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
#follow-sec-wrapper{
    margin: 115px;
}
#follow-sec-wrapper h2{
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}
#follow-sec-wrapper p{
    color: #8b8b99;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#follow-sec-wrapper input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: rgb(139, 139, 153);
    font-size: 16px;
    margin-top: 60px;
    display: block;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
#follow-sec-wrapper button{
    background-color: rgb(246, 157, 173);
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    padding: 16px 42px;
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
#follow-sec-wrapper button:hover{
    background-color: white;
    color: rgb(246, 157, 173);
}

/* section 6 begins */
#section6{
    width: 100%;
    background-color: rgb(246, 252, 250);
    font-family: 'Poppins', sans-serif;
}
#sec6-wrapper{
    width: 100%;
    display: flex;
    justify-content: stretch;
    max-width: 1140px;
    padding: 100px 0px;
    margin: 0px auto;
}
.sec6-cards{
    width: 25%;
    text-align: center;
    padding: 0px 64px;
}
.sec6-cards h2{
    font-size: 44px;
    font-weight: 600;
    margin: 0px;
}
.sec6-cards p{
    color: rgb(87, 227, 181);
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* section 7 begins */
#section7 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: rgb(139, 139, 153);
    text-align: center;
}
#line-seperator{
    width: 96px;
    margin-bottom: 36px;
    display: inline-block;
    height: 1px;
    background-color: rgb(228, 180, 118);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#section7 iframe{
    width: 100%;
    height: 425px;
    margin-top: 36px;
}

/* section8 begins */
#section8{
    display: flex;
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0px;
}
#left-sec{
    width: 50%;
}
.left-sec-head{
    color: rgb(145, 172, 65);
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 35px 0px 0px;
}
#left-sec h1{
    font-size: 44px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.left-sec-desc{
    font-size: 16px;
    font-weight: 400;
    color: rgb(139, 139, 153);
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}
.address h5{
    font-size: 24px;
    font-weight: 600;
    margin: 32px 0px 0px;
}
.address p{
    font-size:16px;
    font-weight: 400;
    color: rgb(139, 139, 153);
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#right-sec{
    width: 40%;
}
#right-sec h1{
    font-size:44px;
    margin:0px;
}
.input-box{
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
#submit-btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 14px 34px;
    border: 0px;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
#section9{
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}

@media (max-width: 900px){
    .dropdown{
        display: none;
    }
    .menu-item{
        display: none;
    }
    .sec3-card-wrap{
        width: 100%;
    }
    .step-cards{
        width: 100%;
    }
    .test-cards{
        width: 100%;
    }
    #strawberry-pic{
        width: 100%;
    }
    #follow-sec{
        width: 100%;
        text-align: left;
    }
    .sec6-cards{
        width: 100%;
    }
    #left-sec{
        width: 100%;
    }
    #right-sec{
        width: 100%;
    }
}